body {
  font-weight: bold;
}

.title {
  background-color: orange;
}

.extreme {
  background-color: red;
}

.medium {
  background-color: orange;
}

.low {
  background-color: gold;
}
